@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-color-white">
    <!--<div class="col-md-3"></div>
    <div class="col-md-3">
        <img class="img-responsive home-top-row row-color-white" src="~/images/seasons.png">
    </div>
    <div class="col-md-3 text-center" style="margin-top:10%;">
            <p class="lead">The Seasons are comming...</p>
            <h1 class="orange1-font">12/12/2016</h1>
    </div>
    <div class="col-md-3"></div>-->
    <div class="col-md-3"></div>
    <div class="col-md-6"><img class="img-responsive row-color-white" src="~/images/seasons.png"></div>
    <div class="col-md-3"></div>
</div>

<div class="row height-base">
   <div class="col-md-3"></div>
   <div class="col-md-6 text-left">
       <br/>
       <h2> What is Seasons?</h2>
       <h2><small>A new card game for everyone to enjoy</small></h2>
       <p class="lead">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
           Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
       </p>
   </div>
   <!--<div class="col-md-6 text-center"><br/><span class="glyphicon glyphicon-calendar glyph-size1"></span></div>-->
   <div class="col-md-3"></div>
</div>

<div class="row height-base row-color-green">
   <div class="col-md-3"></div>
   <div class="col-md-6">
       <br>
       <h2 class="text-left"><small class="black-font">Join our community. Subscribe today!</small></h2>
       <div class="well" style="background:none; border:none;">
           <form action="#">
               <div class="input-group text-center">
                   <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Your Email" required>
                   <button class="btn btn-info btn-lg" type="submit">Subscribe</button>
               </div>
           </form>
        </div>
   </div>
   <div class="col-md-3"></div>
</div>

<div class="row height-base row-color-darkBlue">
   <div class="col-md-3"></div>
   <div class="col-md-6 text-left">
       <br/>
       <br/>
       <h2 class="white-font">Don't miss our major announcement <mark class="lightGray-font thin-font">12/12/2016</mark></h2>
       <p class ="lead white-font" >Connect with us on twitter and facebook for hints...</p>
   </div>
   <div class="col-md-3"></div>
</div>